* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(253, 94, 2);
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
   
}

.logo img {
    width: 200px;
    height: 200px;
}

.formulario {
    width: 800px;
    background-color: aliceblue;
    padding: 30px;
}

.main-form {
    display: flex;
    justify-content: center;
}

.qt-Auto {
    background-color: rgb(34, 34, 85);
    padding: 20px 30px;
}

.qt-Auto h1 {
    color: rgb(211, 211, 211);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}